.noisy-gradient-bar {
  height: 16px;
  width: 120%;
  transform: translateX(-10%);
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0.35;
  border: 1.5px solid var(--black);
    position: sticky;
}
